*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
*package-lock.json
python/jupyter_leaflet/.yarn/
ui-tests/.yarn/

# Compiled javascript
python/jupyter_leaflet/nbextension/
python/jupyter_leaflet/labextension/
python/jupyter_leaflet/dist/
python/jupyter_leaflet/lib/

# OS X
.DS_Store
.idea/

# Documentation data files
docs/*.csv
docs/*.json
!docs/jupyterlite_config.json
docs/*.nc
docs/test.wkt

# Untitled Notebooks
*Untitled*.ipynb

#Galata
ui-tests/playwright-report
ui-tests/test-results
