*.egg-info/
.ipynb_checkpoints/
dist/
build/
*.py[cod]
node_modules/
*package-lock.json
js/.yarn/
ui-tests/.yarn/

# Compiled javascript
ipyleaflet/nbextension/
ipyleaflet/labextension/
js/dist/

# OS X
.DS_Store
.idea/

js/jupyter-leaflet-*.tgz

# Documentation data files
docs/*.csv
docs/*.json
!docs/jupyterlite_config.json
docs/*.nc
docs/test.wkt

# Untitled Notebooks
*Untitled*.ipynb

#Galata
ui-tests/playwright-report
ui-tests/test-results
