recursive-include ipyleaflet/nbextension *.*
recursive-include ipyleaflet/labextension *.*

include jupyter-leaflet.json
graft js/src
include js/package.json
include js/webpack.config.js

include LICENSE
include setup.py
include pyproject.toml
