name: UI Tests

on: [push, pull_request]


defaults:
  run:
    shell: bash -l {0}

jobs:
  ui-tests:
    name: Visual Regression
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: environment-dev.yml
          activate-environment: ipyleaflet-dev
          mamba-version: "*"
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Install ipyleaflet
        run: pip install . --no-deps

      - name: Install browser
        run: |
          jlpm install
          npx playwright install chromium
        working-directory: ui-tests

      - name: Widget rendering tests
        run: npx playwright test
        working-directory: ui-tests

      - name: Upload Playwright Test assets
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ipyleaflet-test-assets
          path: |
            ui-tests/test-results

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ipyleaflet-test-report
          path: |
            ui-tests/playwright-report

      - name: Update snapshots
        if: failure()
        run: |
          # remove previous snapshots from other browser
          jlpm rimraf "tests/**/*-snapshots/*.png"
          # generate new snapshots
          jlpm run test:update
        working-directory: ui-tests

      - name: Print JupyterLab logs
        if: always()
        run: cat /tmp/jupyterlab_server.log
