name: UI Tests

on: [push, pull_request]

jobs:
  ui-tests:
    name: Visual Regression
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1

      - name: Install ipyleaflet
        run: |
          python -m pip install --upgrade jupyterlab~=3.0 ipywidgets~=7.6
          python -m pip install .
          cd ui-tests
          jlpm install

      - name: Install browser
        run: |
          cd ui-tests
          jlpm playwright install chromium

      - name: Launch JupyterLab
        run: |
          cd ui-tests
          jlpm start-jlab:detached > /tmp/jupyterlab_server.log 2>&1

      - name: Wait for JupyterLab
        uses: ifaxity/wait-on-action@v1
        with:
          resource: http-get://localhost:8888/
          timeout: 360000

      - name: Widget rendering tests
        shell: bash
        run: |
          cd ui-tests
          jlpm run test

      - name: Upload Playwright Test assets
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ipyleaflet-test-assets
          path: |
            ui-tests/test-results

      - name: Upload Playwright Test report
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: ipyleaflet-test-report
          path: |
            ui-tests/playwright-report

      - name: Update snapshots
        if: failure()
        run: |
          cd ui-tests
          # remove previous snapshots from other browser
          jlpm rimraf "tests/**/*-snapshots/*.png"
          # generate new snapshots
          jlpm run test:update

      - name: Print JupyterLab logs
        if: always()
        run: |
          cat /tmp/jupyterlab_server.log
